/* Perbaikan tampilan file input */
.form-control[type="file"] {
	padding: 0.75rem;
}

.form-control[type="file"]::file-selector-button {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	/* color: white; */
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.glass-button {
	background: rgba(255, 255, 255, 0.2);
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	transition: all 0.3s ease;
}

.glass-card {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.type-item {
	transition: all 0.3s ease;
}

.type-item:hover {
	background: rgba(255, 255, 255, 0.1);
}
